@use 'var';

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

// header_section start now
.header_section {
    .container-fluid {
        padding: 0;

        .heading_contacts {
            display: flex;
            justify-content: space-between;
            padding: 20px 50px 0px 50px;
            border-bottom: 1px solid;

            .contact_holder {
                display: flex;
                width: 80%;

                p {
                    border-right: 1px solid;
                    border-left: 1px solid;
                    margin-right: 12px;
                    margin-left: 12px;
                    padding-right: 12px;
                    padding-left: 12px;

                    &:nth-child(3) {
                        border: none;
                        padding: 0;
                        margin: 0;
                    }

                    &:nth-child(4) {
                        border-right: none;
                        padding-right: 25px;
                    }
                }
            }

            .socials_holder {
                width: 25%;
                text-align: end;
                letter-spacing: 18px;


                 }
        }

        .navbar-expand-lg {
            padding-top: 0px;
            padding-bottom: 0px;

            .container-fluid {
                justify-content: space-between;
                padding: 20px 50px 20px 50px;
                border-bottom: 1px solid;

                .nav-logo {
                    transition: all 0.4s ease;

                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                    }
                }

                .nav-menulist {
                    .nav-details {
                        .mb-lg-0 {
                            gap: 20px;
                            padding-right: 20px;

                            .nav-item {
                                transition: all 0.6s ease;

                                &:hover {
                                    border-bottom: 1px solid var.$black;
                                    cursor: pointer;
                                }
                            }

                        }
                    }

                    .d-flex {
                        .btn-dark {
                            background-color: var.$black;
                            border: 1px solid var.$white;
                            transition: all 0.4s ease;

                            &:hover {
                                background-color: var.$drak-bule;
                                color: var.$black;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

// hero _section start now
.hero_section {
    .container-fluid {
        padding: 0px 70px;
        background-image: url("../img/hero_sectionProject3.png");
        background-size: cover;

        .hero_heading {
            padding: 286px 0px;
            max-width: 560px;


            .hero_header {
                h2 {
                    font-size: 56px;
                    font-weight: 700;
                    color: var.$white;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    margin-top: 24px;
                    color: var.$white;
                    margin-bottom: 52px;
                }

            }

            button {
                background-color: var.$white;
                color: var.$black;
                font-size: 16px;
                font-weight: 400;
                transition: all 0.2s ease;

                &:hover {
                    background-color: var.$drak-bule;
                    color: var.$black;
                }
            }

        }
    }
}

// about_section start now
.about_section {
    .container-fulid {
        padding: 145px 70px;

        .row {
            .heading {
                h2 {
                    font-size: 48px;
                    font-weight: 700;
                    padding-left: 10px;
                    line-height: 57.6px;
                }

                .first-paragraph {
                    margin: 32px 0px;

                    h4 {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 28px;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;

                    }
                }

                button {
                    font-size: 16px;
                    font-weight: 400;

                    &:nth-child(1) {
                        border: 1px solid black;
                        transition: all 0.2s ease;

                        &:hover {
                            background-color: var.$black;
                            color: var.$white;
                        }
                    }
                }
            }

            img {
                height: 100%;
                width: 100%;
                margin-left: 110px;
            }
        }
    }
}

// our mission_Section start now
.mission_section {
    background-color: var.$off-white;
    padding: 112px 70px;

    .container-fluid {
        img {
            height: 100%;
            width: 100%;
        }

        .mission-heading {
            padding: 100px 0px 100px 88px;

            h2 {
                font-size: 48px;
                font-weight: 700;
            }

            p {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}

// model_section satrt now

.model_section {
    padding: 80px 0px;

    .container {
        .model_body {
            h5 {
                font-size: 18px;
                font-weight: 700;
                text-align: center;

            }

            h3 {
                font-size: 32px;
                font-weight: 700;
                text-align: center;
                margin: 24px 0px;

            }

            .model_img {
                .model-first-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 48px;
                    margin-bottom: 24px;
                }

                .model_second_img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 48px;
                }
            }
        }
    }
}

// our service_section start
.service_section {
    background-color: #F7F7F7;
    padding: 112px 70px;

    .container-fluid {
        .service_heading {
            text-align: center;

            h2 {
                font-size: 48px;
                font-weight: 700;
                margin-bottom: 24px;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 80px;
            }
        }

        .first_card {
            margin-bottom: 40px;

            div {
                border: none;
                background-color: transparent;

                h5 {
                    color: var.$white;

                }

                .card-img-overlay {
                    display: flex;
                    align-items: flex-end;
                }
            }

        }
    }
}

// contact_Section start now
.contact-section {
    .container-fluid {
        padding: 112px 70px;

        .contact-header {
            text-align: center;

            h2 {
                font-size: 48px;
                font-weight: 700;
                margin-bottom: 24px;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 80px;
            }
        }

        .contact-detail {
            display: flex;
            // align-items: center;
            justify-content: space-between;
            gap: 19px;

            .email {
                svg {
                    font-size: 30px;
                    color: var.$black;
                    margin-bottom: 24px;

                }

                a {
                    font-size: 16px;
                    font-weight: 400;
                    color: var.$black;

                }

                h6 {
                    font-size: 32px;
                    font-weight: 700;
                    margin-bottom: 16px;
                }

                p {
                    font-size: 15px;
                    font-weight: 400;
                    margin-bottom: 24px;
                }

            }
        }
    }
}

// contact_from section start now
.enroll_form {
    .container-fluid {
        background-color: var.$off-white;
        padding: 100px 70px;

        .from_section {
            padding-right: 50px;


            .about_heading {

                // margin-left: 50px;
                p {
                    font-size: 18px;
                    margin-bottom: 32px;
                    font-weight: 400;

                    &:nth-child(1) {
                        font-size: 16px;
                    }
                }

                h1 {
                    font-size: 48px;
                }

                .form-check {
                    margin-left: 12px;

                }
            }

            .form {
                // margin-left: 90px;

                .form-check {
                    margin-left: 12px;

                    .form-check-input {
                        border: 1px solid black;
                        // border-radius: none;
                    }
                }

                button {
                    margin-top: 24px;
                    background-color: black;
                    transition: all 0.2s ease;

                    &:hover {
                        background-color: var.$drak-bule;
                        color: var.$black;
                    }

                }
            }
        }

        .about_image {

            img {
                width: 90%;
                min-height: 700px;

            }
        }
    }
}


// our_Tema section start now
.Team_section {


    .container-fluid {
        padding: 90px 70px;

        .cards_headings {
            h6 {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 16px;
            }

            h2 {
                font-size: 48px;
                font-weight: 700;
                margin-bottom: 24px;
            }

            p {
                font-size: 18px;
                margin-bottom: 40px;
            }
        }

        .card {
            border: none;

            .card-body {
                text-align: center;

                .icons {
                    a {
                        // font-size: 25px;
                        // padding: 0px 10px;
                        margin: 0px 7px;
                        color: black;



                    }

                }
            }
        }
    }
}


// Testimonial_section start now
.testimonial-section {
    background-color: var.$off-white;

    .container-fluid {
        padding: 112px 64px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 80px;

        .heading {
            text-align: center;

            h2 {
                font-size: 48px;
                font-weight: bold;
                margin-bottom: 24px;
            }

            p {
                font-size: 18px;
            }
        }

        .cards {
            display: flex;
            gap: 32px;
            justify-content: center;

            .card {
                display: flex;
                flex-direction: column;
                gap: 48px;
                padding: 32px;

                img {
                    width: 120px;
                    height: 48px;
                }

                .content {

                    p {
                        font-size: 18px;
                        line-height: 27px;
                        padding-bottom: 24px;
                    }

                    a {
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        color: var.$black;

                        &:hover {
                            color: lightblue;
                        }

                        span {
                            padding-left: 8px;
                        }
                    }

                    .review {
                        display: flex;
                        gap: 20px;

                        img {
                            width: 56px;
                            height: 56px;
                            cursor: pointer;
                            transition: all .7s ease;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                        .review-text {
                            h6 {
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 600;
                            }

                            p {
                                font-size: 16px;
                                line-height: 24px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Faqs-section start now 
.faqs-section {
    .container {
        text-align: -webkit-center;
        padding: 100px 70px;

        .faqs-main {
            max-width: 750px;
            text-align: center;

            .faqs-heading {
                text-align: center;

                h2 {
                    font-size: 48px;
                    font-weight: 700;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    margin-top: 24px;
                }
            }

            .accordion-section {
                margin: 80px 0px;

                .accordion-flush {
                    border: 1px solid black;

                    button {
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }

            .faqs-contact {
                h4 {
                    font-size: 32px;
                    font-weight: 700;
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    margin-top: 16px;
                }

                button {
                    border: 1px solid black;
                    
                }
            }
        }
    }
}

// Specialist-section start now
.Specialist-section {
    padding: 80px 0px;
    background-color:var.$off-white;

    .container {
        text-align: center;
        max-width: 56%;

        .Specialist-contact {
            h6 {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 16px;
            }

            h2 {
                font-size: 48px;
                font-weight: 700;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                margin: 24px 0px;
            }

            button {
                &:nth-child(1) {
                    border: 1px solid black;

                    &:hover {
                        background-color: var.$black;
                        color: var.$white;
                    }

                }
            }
        }
    }
}

.footer_top_section {
    border-bottom: 1px solid black;

    .container-fluid {
        padding: 100px 70px;

        .first-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .service {
                nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 30px;

                    li {
                        list-style: none;

                        a {
                            color:var.$black;
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 600;
                            border-bottom: transparent;

                            &:hover {
                                border-bottom: 1px solid var.$black;

                            }
                        }
                    }
                }
            }

            .icons {
                a {
                    color: var.$black;
                    margin: 0px 7px;

                    :nth-child(1) {
                        transition: all 0.4s ease;

                        &:hover {
                            transform: scale(1.5);
                            cursor: pointer;
                        }
                    }

                    :nth-child(2) {
                        transition: all 0.4s ease;

                        &:hover {
                            transform: scale(1.5);
                            cursor: pointer;
                        }
                    }

                    :nth-child(3) {
                        transition: all 0.4s ease;
            
                        &:hover {
                        transform: scale(1.5);
                        cursor: pointer;
                                }
                            }

                     :nth-child(4) {
                        transition: all 0.4s ease;
                    
                        &:hover {
                        transform: scale(1.5);
                        cursor: pointer;
                                        }
                                    }

                }
            }
        }
    }

}

.footer-section {
    .second-footer {
        padding-top: 40px;

        .policy {
            display: flex;
            // align-items:center;
            justify-content: center;
            gap: 30px;

            a {
                color: var.$black;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}